<div class="container-xl mt-3">
  <div class="row">
    <div class="col-sm-8 col-md-12 col-lg-12 text-left">
      <button class="btn border-right">Followers: {{ user.followers }}</button>
      <button class="btn border-right">Follows: {{ user.follows }}</button>
      <button class="btn">Posts: {{ user.posts.length }}</button>
    </div>
  </div>
  <div class="jumbotron row">
    <div class="col-lg">
        <img src="{{ user.photoUrl }}" style="max-height: 100px;" />
        <h1 class="font-weight-bold text-muted mt-2"> {{ user.username | titlecase }}</h1>
    </div>
    <div class="col-lg" dropdown>
      <div class="bottom-right">
        <h1><i class="btn fa fa-gear mb-0 pb-0" dropdownToggle></i></h1>
        <div class="dropdown-menu mt-0 pt-0" *dropdownMenu>
          <div class="nav-link">
            <a class="btn dropdown-item">Edit Profile Picture</a>
            <a class="btn dropdown-item">Edit Introduction</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="card">
        <div class="card-body" style="min-height: 400px;">
          <h5 class="card-title text-active">About</h5>
          <hr>
          <p class="card-text text-muted"> {{user.introduction}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="card">
        <div class="card-body" style="min-height: 400px;">
          <h5 class="card-title text-active">Comments</h5>
          <hr>
          <div class="card-text font-weight-light text-muted" *ngFor="let comment of user.comments">
            <h5 class="btn text-primary" [routerLink]="['/profiles/2']"> {{comment.author | titlecase}} </h5>
            <div class="ml-4 mb-2">
              {{comment.content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <!-- Empty Column -->
    </div>
    <div class="col-lg">
      <div class="card" style="height: 70px;">
        <form class="pl-4 my-auto">
          <textarea name="" id="" cols="50" rows="1" placeholder="Add a Profile Comment..."></textarea>
        </form>
        <div class="bottom-right" style="top: 25%; left: 80%;">
          <button class="btn btn-primary" style="min-width: 100px;">
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
