<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-xl">
    <button class="btn border-right" [routerLink]="['/home']">
      <img
        src="https://cdn.dribbble.com/users/1303003/screenshots/3988327/cat-logo.png"
        class="mr-2"
        style="max-height: 30px;"
        width="30px"
        height="30px"
      />
      <a class="navbar-brand">
        Meme.io
      </a>
    </button>

    <div *ngIf="loggedIn()" class="mb-4 pb-2">
      <form class="form abs-center-x">
        <input
          class="form-control"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#Nav_Elements"
      aria-controls="Nav_Elements"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsable Elements -->
    <div class="collapse navbar-collapse" id="Nav_Elements">
      <!-- Register Element if not logged in -->
      <ul *ngIf="!loggedIn()" class="navbar-nav ml-auto text-center">
        <li class="nav-item">
          <button
            class="btn btn-primary btn-block btn-lg"
            [routerLink]="['/register']"
          >
            Register
          </button>
        </li>
      </ul>

      <!-- Show Logged In Nav Elements -->
      <ul *ngIf="loggedIn()" class="navbar-nav text-center">
        <li #GalleryBtn id="GalleryBtn" class="nav-item btn" [routerLink]="['/gallery']">
          <i class="fa fa-map fa-2x"></i>
          <a class="nav-link">Meme Gallery</a>
        </li>
      </ul>
      <ul *ngIf="loggedIn()" class="navbar-nav ml-auto text-center">
        <li #HomeBtn id="HomeBtn" class="nav-item btn" [routerLink]="['/home']">
          <i class="fa fa-home fa-2x"></i>
          <a class="nav-link">Home</a>
        </li>
        <li #ArchiveBtn id="ArchiveBtn" class="nav-item btn">
          <i class="fa fa-archive fa-2x"></i>
          <a class="nav-link">Archive</a>
        </li>
        <li #NotificationsBtn id="NotificationsBtn" class="nav-item btn">
          <i class="fa fa-bell fa-2x"></i>
          <a class="nav-link">Notifications</a>
        </li>
        <li class="nav-item dropdown btn" dropdown>
          <div dropdownToggle>
            <img
              src="https://res-console.cloudinary.com/jbakeacake/thumbnails/v1/image/upload/v1590411235/Zm1ycmlzenk4OGRhY214bDdmMm0=/preview"
              class="rounded-circle"
            />
            <a
              class="nav-link dropdown-toggle"
              id="Profile_Dropdown"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Me
            </a>
          </div>
          <div
            class="dropdown-menu"
            *dropdownMenu
          >
            <div class="nav-link">
              <a class="dropdown-item" [routerLink]="['profiles/' + authService.decodedToken?.nameid]">Profile</a>
              <a class="dropdown-item" [routerLink]="['/home']" (click)="logout()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
