<div class="post-card">
  <div class="media m-1">
    <div class="card-img-wrapper m-auto">
      <img class="img-fluid rounded-0" src="{{photo.url}}" class="card-img-top">
    </div>
  </div>
  <span class="inline">
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <button class="btn p-1 my-auto">
          <i class="fas fa-thumbs-up fa-2x my-auto"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn p-1 my-auto">
          <i class="fas fa-comment fa-2x my-auto"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn p-1 my-auto">
          <i class="fas fa-thumbs-down fa-2x my-auto"></i>
        </button>
      </li>
    </ul>
  </span>
</div>